@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-named-instance: "Regular";
  src: url("Inter-Roman.var.woff2?v=3.12") format("woff2");
}
